.archive {
  position: absolute;
  width: 100%; height: 100%;
  background: #ffffff;
  transform: translate(-100%, 0);
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s;
  z-index: 1;
}
.archive.active {
  transform: translate(0, 0);
}
.archive-wrap {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.navigation {
  position: relative;
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  gap: 45px;
  padding: 0 10px;
  height: 70px;
}
.navigation .btn {
  width: 35px; height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
}
.navigation .btn:hover {
  background: #e9e9e9bb;
}
.focused {
  position: absolute;
  width: 100%; height: 100%;
  background: #222831;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.2s;
  opacity: 0;
  z-index: -1;
}
.focused.active {
  opacity: 1;
  z-index: 1;
}
.focused-wrap {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.focused .btn {
  width: 35px; height: 35px;
  border-radius: 50%;
}
.focused .left .count {
  width: 25px; height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 20px;
  font-family: var(--font-body)
}
.focused .right, .focused .left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.archive-cards {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
  padding: 20px 15px;
  cursor: pointer;
}
.archive-cards:hover {
  background: #F2F2F270;
}
.avatar {
  display: block;
  width: 60px; height: 60px;
  border-radius: 50%;
}
.text {
  position: relative;
  display: grid;
  overflow-x: hidden;
  margin: 0 0 0 15px;
}
.text .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.top .profile-name {
  font-family: var(--font-body);
}
.top .time {
  font-size: 0.9rem;
  opacity: 0.9;
}
.text .message {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  opacity: 0.9;
}
.ctx {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  gap: 5px;
  height: 30px;
}
.ctx .condition-icon {
  height: 30px;
  transform: translate(-2px, 0);
}
.ctx .total {
  position: absolute;
  display: block;
  right: 0;
  width: 20px; height: 20px;
  background: #3f4958;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0;
}
.archive::-webkit-scrollbar {
  width: 8px;
}
.archive::-webkit-scrollbar-thumb {
  background: #bdbdbdbb;
}
.archive::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
}

/* darkmode */
.archive.dark {
  background: #222831;
}
.archive.dark
.archive-cards,
.archive-box {
  border-bottom: 1px solid #343941;
}
.archive-cards:hover,
.archive-box:hover {
  background: #34394170;
}
.navigation .btn:hover {
  background: #393E46;
}
.archive::-webkit-scrollbar-thumb {
  background: #3f4958bb;
}
.archive::-webkit-scrollbar-thumb:hover {
  background: #3f4958;
}
.archive.dark .archive-cards.focus {
  background: #1c2229;
}

@media screen and (max-width: 1224px) {
  .text .name .username {
    display: none;
  }
}