.inbox {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.archive-box {
  display: none;
  grid-template-columns: auto 1fr auto;
  gap: 15px;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
  padding: 10px 15px;
  cursor: pointer;
}
.archive-box.active {
  display: grid;
}
.archive-box .icon {
  height: 35px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.archive-box .title {
  font-family: var(--font-body);
}
.inbox-cards {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  border-bottom: 1px solid #e9e9e9;
  padding: 20px 15px;
  cursor: pointer;
}
.inbox-cards * {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}
.inbox-cards:hover,
.archive-box:hover {
  background: #F2F2F270;
}
.avatar {
  display: block;
  width: 60px; height: 60px;
  border-radius: 50%;
}
.text {
  position: relative;
  display: grid;
  overflow-x: hidden;
  margin: 0 0 0 15px;
}
.text .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}
.top .profile-name {
  font-family: var(--font-body);
}
.top .time {
  font-size: 0.9rem;
  opacity: 0.9;
}
.top .time::first-letter {
  text-transform: uppercase;
}
.text .message {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
  opacity: 0.9;
}
.ctx {
  display: flex;
  align-items: center;
  overflow-x: hidden;
  gap: 5px;
  height: 30px;
}
.ctx .condition-icon {
  height: 30px;
  transform: translate(-2px, 0);
}
.ctx .total {
  position: absolute;
  display: block;
  right: 0;
  width: 20px; height: 20px;
  background: #cccccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  opacity: 0;
}
.inbox::-webkit-scrollbar {
  width: 8px;
}
.inbox::-webkit-scrollbar-thumb {
  background: #bdbdbdbb;
}
.inbox::-webkit-scrollbar-thumb:hover {
  background: #bdbdbd;
}

/* darkmode */
.inbox.dark .inbox-cards,
.inbox.dark .archive-box {
  border-bottom: 1px solid #343941;
}
.inbox.dark .inbox-cards:hover,
.inbox.dark .archive-box:hover {
  background: #34394170;
}
.inbox.dark .ctx .total {
  background: #3f4958;
}
.inbox.dark::-webkit-scrollbar-thumb {
  background: #3f4958bb;
}
.inbox.dark::-webkit-scrollbar-thumb:hover {
  background: #3f4958;
}
.inbox.dark .inbox-cards.focus {
  background: #1c2229;
}

@media screen and (max-width: 1224px) {
  .text .name .username {
    display: none;
  }
}